@model Faq
@{
    ViewData["Title"] = "Create";
}


<div class="row justify-content-center">
    <div class="col-md-8">
        <h1>Yeni Sual Əlavə Et</h1>
        <form asp-action="create" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="QuestionAz">Sual Az</label>
                <input class="form-control" placeholder="Sual Əlavə Edin" asp-for="QuestionAz">
            </div>
            <div class="form-group">
                <label asp-for="QuestionRu">Sual Ru</label>
                <input class="form-control" placeholder="Sual Əlavə Edin" asp-for="QuestionRu">
            </div>
            <div class="form-group">
                <label asp-for="QuestionEn">Sual En</label>
                <input class="form-control" placeholder="Sual Əlavə Edin" asp-for="QuestionEn">
            </div>
            <div class="form-group">
                <label asp-for="AnswerAz">Cavab Az</label>
                <textarea class="form-control" placeholder="Cavab Əlavə Edin" asp-for="AnswerAz"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="AnswerRu">Cavab Ru</label>
                <textarea class="form-control" placeholder="Cavab Əlavə Edin" asp-for="AnswerRu"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="AnswerEn">Cavab En</label>
                <textarea class="form-control" placeholder="Cavab Əlavə Edin" asp-for="AnswerEn"></textarea>
            </div>

            <div class="form-group">
                <label asp-for="ImageFile">Image</label>
                <input class="form-control" asp-for="ImageFile">
                <span class="text-danger" asp-validation-for="ImageFile"></span>

            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
